/*
Tekijä: Petri Rämö
Opiskelijanro:0438578
Pvm: 17.12.2017
*/

/*This is the css file that was used in this webpage. It doent contain much because most of the layout were made with Materialize library and css.
*/

h1 {
    font-weight: bold;
}

h2 {
    font-weight: bold;
}

canvas {
    display: block;
    margin: auto;
}

button {
    margin: 5px;
}